services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: Pokemons
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: ./backend
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:password@db:5432/Pokemons
      POKEAPI_API_KEY: challenge-demo-key
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  pgdata:
